.App {
  text-align: center;
 
}

.pagination{
  margin-top: 10px;
}
.sortingMenu{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
 margin: 15px;
}

.sortingMenuItems{
  display: flex;
  width: 1200px;
  align-items: center;
  justify-content: space-around;
}





